<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="area52.rat_tracking_application">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".controllers.WelcomeActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_rat_report_loader"
            android:theme="@style/FullscreenTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".controllers.RegistrationActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_registration"
            android:theme="@style/FullscreenTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="controllers.MainActivity" />
        </activity>
        <activity
            android:name=".controllers.MainActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label= "@string/login_go_to_register"
            android:theme="@style/FullscreenTheme">
        </activity>
        <activity
            android:name=".controllers.ReportDetailActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_report_detail"
            android:theme="@style/FullscreenTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="controllers.ReportListActivity" />
        </activity>
        <activity
            android:name=".controllers.ReportEntryActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_report_entry"
            android:theme="@style/FullscreenTheme">
        </activity>
        <activity
            android:name=".controllers.ReportListActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_report_list"
            android:theme="@style/FullscreenTheme">
        </activity>
    </application>

</manifest>